@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
    --color-primaryColor: #C778DD;
    --color-textPrimaryColor: #ABB2BF;
    --color-borderColor: #ABB2BF;
    --color-textSecondColor: #FFFFFF;
    --color-backgroundColor: #282C33;

    --font-mono: "Fira Code", monospace;
}